<% @url = 'https://www.intofilm.org/intofilm-production/9628/scaledcropped/630x355/resources/9628/into-film-plus-catalogue-image-07-22.jpg' %>
<% @main_text = @list.name.capitalize %>
<% @action = '' %>
<%= render 'shared/navbar' %>

<div class="container">
  <h3>
    <%= link_to new_list_bookmark_path(@list) do %>
      <i class="far fa-plus-square"></i>
    <% end %>
  </h3>
  <br>
  <div class="cards">
    <% @bookmarks.each do |bookmark| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
        <%= bookmark.movie.title %>
        <%= link_to 'X', bookmark_path(bookmark), data: { turbo_method: 'delete', turbo_confirm: "Delete this bookmark?"}  %>
      </div>
    <% end %>
  </div>
</div>
